<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{xdm/include/headNice :: headNice}"></div>
  <main id="main" class="main">

    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">page 1</a></li>
          <li class="breadcrumb-item">page 2</li>
          <li class="breadcrumb-item active">Default</li>
        </ol>
      </nav>
      <h1>CodeGroup</h1>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <h1 class="card-title" style="height: 100px;" >엑셀파일 업로드</h1>

              <!-- Custom Styled Validation -->
              <form class="row g-3" method="post" id="form" name="form" enctype="multipart/form-data">
                <div class="col-md-3">
               		<input type="hidden" name="cdgSeq" th:value="${item?.cdgSeq}">
               		<input type="hidden" name="cdUpdtDate" >	               		
                </div>
                <div class="col-md-6 d-flex align-items-end">
	                <div class="input-group">
	                <label class="input-group-text" for="excelFile">Excel</label>
	                <input type="file" class="form-control" id="excelFile" value="" multiple>
	                </div>
                </div>
                <div class="col-md-3 d-flex align-items-end">
                  <button type="button" class="btn btn-primary" id="btnExlsChck"><i class="bi bi-journal-check"></i></button>
                </div>
                <div class="col-md-6">
                  <a href="/codegroup/codegroupXdmList" class="btn btn-outline-dark"><i class="bi bi-blockquote-right"></i></a>
                </div>
                <div class="col-md-6">
                  <div style="display: flex;justify-content: end;"><button class="btn btn-primary" id="btnSubmit"><i class="bi bi-server"></i></button></div>
                </div>
              </form>
              
              <!-- End Custom Styled Validation -->

            </div>
            <div class="card-footer">
            엑셀파일 내용검토
            </div>
          </div>
          
		<div class="modal fade" id="modalAlert" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalAlertTitle">title</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body" id="modalAlertBody">
						body
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-secondary btn-sm btn_custom" data-bs-dismiss="modal" id="closeModal">닫힘</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal" id="modalConfirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modalConfirmTitle">title</h5>
						<button type="button" class="btn-close" id="btnX" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body" id="modalConfirmBody">
						body
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-secondary" id="btnClose" data-bs-dismiss="modal">닫힘</button>
						<button type="button" class="btn btn-danger" name="" id="btnModalDelete"></button>
						<button type="button" class="btn btn-danger" name="" id="btnModalUelete">삭제</button>
					</div>
				</div>
			</div>
		</div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->
<div th:replace="~{xdm/include/footerNice :: footerNice}"></div>

<script type="text/javascript">
	let seq = document.querySelector("input[name=cdgSeq]");
	let form = document.querySelector("form[name=form]");
	
	function validationInst() {
	    if(validationUpdt() == false) return false;
	}
	
	function validationUpdt() {
		if(document.getElementById("cdgName").value.trim() == null || document.getElementById("cdgName").value.trim() == "") {
			alertModal()
			document.getElementById("cdgName").focus();
			return false;
		}
		if(document.getElementById("cdgNameEng").value.trim() == null || document.getElementById("cdgNameEng").value.trim() == "") {
			alertModal()
			return false;
		}
	}

	document.getElementById("btnSubmit").onclick = function () {
		if(seq.value == "0" || seq.value == "") {
			if(validationInst() == false) return false;
			form.action = "/codegroup/codegroupXdmInst";
			form.submit();
		} else {
			if(validationUpdt() == false) return false;
// 			alert(new Date());
			form.action = "/codegroup/codegroupXdmUpdt";
			form.submit();
		}
	}
	
	function alertModal() {
		document.querySelector("#modalAlertTitle").textContent = "입력오류";
		document.querySelector("#modalAlertBody").textContent = "형식에 맞는 값을 입력해주세요";
		$("#modalAlert").modal("show");
	}
		
		
	document.getElementById("btnUelete").onclick = function () {
		document.querySelector("#modalAlertTitle").textContent = "확 인";
		document.querySelector("#modalConfirmBody").textContent = "해당 데이터를 삭제하시겠습니까 ?";
		document.querySelector("#btnModalUelete").style.display = '';
		document.querySelector("#btnModalDelete").style.display = 'none';
		document.getElementById("modalConfirm").style.display = 'block';
		$("#modalConfirm").modal("show");
	}

	document.getElementById("btnModalUelete").onclick = function () {
		form.action = "/codegroup/codegroupXdmUele";
		form.submit();
	}
	
	document.getElementById("closeModal").onclick = function() {
		if(document.getElementById("cdgName").value.trim() == null || document.getElementById("cdgName").value.trim() == "") {
			document.getElementById("cdgName").focus();
			return false;
		}
		if(document.getElementById("cdgNameEng").value.trim() == null || document.getElementById("cdgNameEng").value.trim() == "") {
			document.getElementById("cdgNameEng").focus();
			return false;
		}
	}
	
	document.getElementById("savechanges").onclick = function() {
		alert("savechanges");
	}
	</script>

</body>
</html>