<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{xdm/include/headNice :: headNice}"></div>
  <main id="main" class="main">

    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">page 1</a></li>
          <li class="breadcrumb-item">page 2</li>
          <li class="breadcrumb-item active">Default</li>
        </ol>
      </nav>
      <h1 style="height: 50px;">CodeGroup</h1>
    </div><!-- End Page Title -->

    <section class="section">
        <form class="row g-3 needs-validation" novalidate>
            <div class="col-md-2" style="height: 10px;">
                
                <select class="form-select" id="" >
                  <option selected disabled value="">N</option>
                  <option>아무거나</option>
                </select>
                <div class="invalid-feedback">
                  항목중 하나를 선택 해주세요.
                </div>
              </div>
            <div class="col-md-2">
                <select class="form-select" id="" >
                    <option selected disabled value="">Y</option>
                    <option>아무거나</option>
                  </select>
                  <div class="invalid-feedback">
                    항목중 하나를 선택 해주세요.
                  </div>
            </div>
            <div class="col-md-2">
                <select class="form-select" id="" >
                    <option selected disabled value="">날짜</option>
                    <option>등록일</option>
                    <option>수정일</option>
                  </select>
                  <div class="invalid-feedback">
                    항목중 하나를 선택 해주세요.
                  </div>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" id="validationCustom03" placeholder="2025-01-05" >
                  <div class="invalid-feedback">
                    코드를 입력해주세요.
                  </div>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" id="validationCustom03" placeholder="2025-02-04" >
                  <div class="invalid-feedback">
                    코드를 입력해주세요.
                  </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <select class="form-select" id="" >
                    <option selected disabled value="">검색구분</option>
                    <option>코드그룹 코드</option>
                    <option>코드그룹 이름</option>
                    <option>코드그룹 이름(영문)</option>
                  </select>
                  <div class="invalid-feedback">
                    항목중 하나를 선택 해주세요.
                  </div>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" id="validationCustom03" placeholder="검색어" >
                  <div class="invalid-feedback">
                    코드를 입력해주세요.
                  </div>
            </div>
            <div class="col-md-8">
                <button class="btn btn-outline-dark" type="button" ><i class="bi bi-search"></i></button>
                <button class="btn btn-outline-dark" type="button" ><i class="bi bi-arrow-clockwise"></i></button>
            </div>
        
        <div class="col-lg-12">
          <div class="card" >
            <div class="card-body">
              <div class="row">
                <div class="col-md-10" style="height: 50px;"><h5 class="card-title-list">Total : 42</h5></div>
                  <div class="col-md-2 select-col"><select class="form-select select-end">
                    <option value="">5</option>
                    <option value="">10</option>
                    <option value="">15</option>
                  </select>
                </div>
                </div>
                </div>

              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    
                    <th data-sortable="false"  style="text-align: center; width: 100px;"><div class="checked"><input type="checkbox" class="form-check"></div></th>
                    <th data-sortable="false" style="width: 10px; text-align: center;" >#</th>
                    <th class="list-sort" style="text-align: center;">회원분류</th>
                    <th class="list-sort" style="text-align: center;">ID</th>
                    <th class="list-sort" style="text-align: center;">이름</th>
                    <th class="list-sort" style="text-align: center;">성별</th>
                    <th class="list-sort" style="text-align: center;">Tel</th>
                    <th class="list-sort" style="text-align: center;">Email</th>
                    <th class="list-sort" style="text-align: center;">NoShow</th>
                    <th class="list-sort" style="text-align: center;">순서</th>
                    <th data-type="date" data-format="YYYY/DD/MM" class="list-sort" style="text-align: center;">등록일</th>
                    <th data-type="data" data-format="YYYY/DD/MM" class="list-sort" style="text-align: center;">수정일</th>
                  </tr>
                </thead>
                <tbody>
                    <tr th:if="${#lists.isEmpty(list)}" class="hover-action-trigger btn-reveal-trigger position-static">
	               		<td colspan="10">
	               			<p class="fs-0" style="padding-top: 12px;">There are no data!</p>
	               		</td>
	               	</tr>
	                   <tr th:if="${!#lists.isEmpty(list)}" th:each ="list : ${list}">
	                   <th><div class="checked"><input type="checkbox" class="form-check"></div></th>
	                   <td th:text="${vo.totalRows - ((vo.thisPage - 1) * vo.rowNumToShow + listStat.index)}"></td>
                       <td th:text = "${@codeService.selectOneCachedCode(list.userCate)}"></td>
                       <td><a th:href="@{/member/MemberXdmMfom(seq=${list.seq})}" th:text="${list.userId}"></a></td>
                       <td th:text = "${list.userName}"></td>
                       <td th:text = "${@codeService.selectOneCachedCode(list.userGender)}"></td>
                       <td th:text = "${list.userTel}"></td>
                       <td th:text = "${list.userEmail}"></td>                                                
                       <td th:text = "${list.noshow}"></td>
                       <td>1</td>
                       <td></td>
                       <td></td>
	                   </tr>
                  </tbody>
                  <tfoot>
                   
                  </tfoot>
                  
                  </table>
                  <div class="row" >
                    <nav aria-label="Page navigation example" style="display: flex; justify-content: center;">
                    	<ul class="pagination">
							<li class="page-item">
							<li th:if="${vo.startPage gt vo.pageNumToShow}" class="page-item" style="cursor: pointer;">
								<a class="page-link" href="javascript:goList(${vo.startPage - 1})" th:attr="onclick=|goList('${vo.startPage - 1}')|">
									&laquo;
								</a>
							</li>
							<li th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" th:classappend="${num eq vo.thisPage} ? active : ''" class="page-item" style="cursor: pointer;">
								<a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}"><!-- ${i.index} --></a>
							</li>
							<li th:if="${vo.endPage ne vo.totalPages}" class="page-item" style="cursor: pointer;">
								<a class="page-link" th:attr="onclick=|goList('${vo.endPage + 1}')|">
									&raquo;
								</a>
							</li>
                    	</ul>
                    </nav>
                    
                  </div>
                  <div class="row">
                    <div class="col-md-6 padding-left">
                  <button class="btn btn-danger">X</button>
                  <button class="btn btn-danger"><i class="bi bi-trash"></i></button>
                </div>
                <div class="col-md-6 padding-right" style="display: flex; justify-content: end;">
                    
                    <button class="btn btn-success btn-right"><i class="bi bi-journal-x"></i></button>
                  <a href="" class="btn btn-primary"><i class="bi bi-plus-lg"></i></a>
                </div>
                </div>
            </div>
          </div>        
    </section>

  </main><!-- End #main -->
<div th:replace="~{xdm/include/footerNice :: footerNice}"></div>
	<script>
		let form = document.querySelector("form[name=formList]");
				
		goList = function (thisPage) {
		    document.querySelector("input[name=thisPage]").value = thisPage;
		    form.action = "/code/CodeXdmList";
		    form.submit();
		}					
	</script>
</body>
</html>