<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bicycledoctors.module.member.MemberDao">
	
	<resultMap type="com.bicycledoctors.module.member.MemberDto" id="resultMapObj"></resultMap>
	
	<sql id="selectCommon">	    
	    from
			usercustomer
		where 1=1
			and delNy = 0
    </sql>
	
	<select id="selectOneCount" resultType="Integer">
    	select count(*)
    	 <include refid = "selectCommon"></include>
    </select>
	
	<select id="selectList" resultMap="resultMapObj">
	select aa.* from (
		SELECT
			seq
			,userId
		    ,userPassword
		    ,userCate
		    ,userName
		    ,userTel
		    ,userEmail
		    ,userDob
		    ,userGender
		    ,userAddressCd
		    ,userNote
		    ,userGps
		    ,userIp
		    ,shopComment
		    ,noshow
		    ,isBlack
		    ,delNy
		<include refid = "selectCommon"></include>
		order by seq desc
	) aa
	limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			seq
			,userId
		    ,userPassword
		    ,userCate
		    ,userName
		    ,userTel
		    ,userEmail
		    ,userDob
		    ,userGender
		    ,userAddressCd
		    ,userNote
		    ,userGps
		    ,userIp
		    ,shopComment
		    ,noshow
		    ,isBlack
		    ,delNy
	    from
	    	usercustomer
	    where 1=1
	    	and seq = #{seq}
	</select>
	
	<update id="update">
		update usercustomer set
			userPassword = #{userPassword}
		    ,userCate = #{userCate}
		    ,userName = #{userName}
		    ,userTel = #{userTel}
		    ,userEmail = #{userEmail}
		    ,userDob = #{userDob}
		    ,userGender = #{userGender}
		    ,userAddressCd = #{userAddressCd}
		    ,userNote = #{userNote}
		    ,userGps = #{userGps}
		    ,userIp = #{userIp}
		    ,shopComment = #{shopComment}
		    ,noshow = #{noshow}
		    ,isBlack = #{isBlack}
		    ,delNy = #{delNy}
		where 1=1
			and seq = #{seq}
	</update>
</mapper>