<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bicycledoctors.module.reservation.ReservationDao">
	
	<resultMap type="com.bicycledoctors.module.reservation.ReservationDto" id="resultMapObj"></resultMap>
	
	<insert id="insert">
	INSERT INTO reservation (
		reservationDate
		,reservationTime
		,shop_shopSeq
		,bicycle_bikeSeq
		,rsrvDesc
	) VALUES (
		#{reservationDate}
		,#{reservationTime}
		,#{shopSeq}
		,#{bikeSeq}
		,#{rsrvDesc}
	)
	<selectKey resultType="String" keyProperty="rsrvSeq" order="AFTER">
			SELECT last_insert_id()
	</selectKey>
	</insert>

	<insert id="rsrvServicesInst">
	INSERT INTO availableService (
			availableServiceCd
			,shop_shopSeq
			,reservation_rsrvSeq
		) VALUES 
		<foreach collection="listAS" item="dto" separator=",">
	        (#{dto.availableServiceCd}
			,#{dto.shopSeq}
			,#{dto.rsrvSeq})
	    </foreach>
	</insert>
	
	<update id="bikeStatusUpdt">
		update bicycle set
			bikeStatus = 121
		    ,updtDate = CURRENT_TIMESTAMP
		where
			bikeSeq = #{bikeSeq}
	</update>
	
	<select id="selectOne4View" resultMap="resultMapObj">
		SELECT 
		    r.rsrvSeq
		    ,r.shop_shopSeq
		    ,r.bicycle_bikeSeq
		    ,r.reservationDate
		    ,r.reservationTime
		    ,r.rsrvDesc
		    ,r.reservedNy
			,b.bikeSeq
		    ,b.bicycleName
		    ,b.bicycleCateCd
		    ,b.bicycleBrandCd
		    ,b.bicycleModel
		    ,b.bicycleYears
		    ,b.bicycleMiles
		    ,b.bicycleSN
		    ,b.drivetrainBrandCd
		    ,b.drivetrainModel
		    ,b.brakeBrandCd
		    ,b.isElectDrivetrain
		    ,b.isDiskBrakes
		    ,b.isHydrauric
		    ,b.isInternal
		    ,b.wheelBrandCd
		    ,b.wheelModel
		    ,b.bicycleDescribe
		    ,b.bikeStatus
		    ,b.latestiNrDate
		    ,b.bikeDelNy
		    ,b.instDate
		    ,b.updtDate
		    ,b.userCustomer_seq
		    ,u.userName
		    ,u.userTel
 		from
			reservation r
			left join bicycle as b on r.bicycle_bikeSeq = b.bikeSeq
			left join usercustomer as u on b.userCustomer_seq = u.seq
		where 1=1
			and r.rsrvSeq = #{rsrvSeq}
	</select>
	<select id="selectList4ServiceView" resultMap="resultMapObj">
		SELECT 
		    availableServiceCd
 		from
			availableService
		where 1=1
			and reservation_rsrvSeq = #{rsrvSeq}
	</select>
	
	<select id="selectList4ReservationCheck" resultMap="resultMapObj">
		SELECT 
			b.bikeSeq,
		    b.bicycleName,
		    b.bicycleCateCd,
		    b.bicycleBrandCd,
		    b.bicycleModel,
		    b.bicycleYears,
		    b.bicycleMiles,
		    b.bicycleSN,
		    b.drivetrainBrandCd,
		    b.drivetrainModel,
		    b.brakeBrandCd,
		    b.isElectDrivetrain,
		    b.isDiskBrakes,
		    b.isHydrauric,
		    b.isInternal,
		    b.wheelBrandCd,
		    b.wheelModel,
		    b.bicycleDescribe,
		    b.bikeStatus,
		    b.latestiNrDate,
		    b.bikeDelNy,
		    b.instDate,
		    b.updtDate,
		    b.userCustomer_seq,
		    r.rsrvSeq,
		    (select userShopSeq from usercustomer where seq=#{userShopSeq}) as userShopSeq
 		from
			bicycle as b
			left join reservation r on b.bikeSeq = r.bicycle_bikeSeq
		where 1=1
			and r.shop_shopSeq = #{userShopSeq}
			and b.bikeStatus = 121
<!-- 			and a.bikeStatus &gt;= 120 -->
<!-- 			and a.bikeStatus &lt;= 121 -->
	</select>
	<select id="selectList4iNr" resultMap="resultMapObj">
		SELECT 
			b.bikeSeq,
		    b.bicycleName,
		    b.bicycleCateCd,
		    b.bicycleBrandCd,
		    b.bicycleModel,
		    b.bicycleYears,
		    b.bicycleMiles,
		    b.bicycleSN,
		    b.drivetrainBrandCd,
		    b.drivetrainModel,
		    b.brakeBrandCd,
		    b.isElectDrivetrain,
		    b.isDiskBrakes,
		    b.isHydrauric,
		    b.isInternal,
		    b.wheelBrandCd,
		    b.wheelModel,
		    b.bicycleDescribe,
		    b.bikeStatus,
		    b.latestiNrDate,
		    b.bikeDelNy,
		    b.instDate,
		    b.updtDate,
		    b.userCustomer_seq,
		    r.rsrvSeq,
		    (select userShopSeq from usercustomer where seq=#{userShopSeq}) as userShopSeq
 		from
			bicycle as b
			left join reservation r on b.bikeSeq = r.bicycle_bikeSeq
		where 1=1
			and r.shop_shopSeq = #{userShopSeq}
			and b.bikeStatus between 122 and 123
<!-- 			and a.bikeStatus &gt;= 120 -->
<!-- 			and a.bikeStatus &lt;= 121 -->
	</select>
	<update id="rsrvYesUpdt">
		update bicycle set
			bikeStatus = 122
		    ,updtDate = DATE_FORMAT(CONVERT_TZ(NOW(), 'UTC', 'Asia/Seoul'), '%Y-%m-%d %H:%i:%S')
		where
			bikeSeq = #{bikeSeq}
	</update>
	<update id="rsrvNoUpdt">
		update bicycle set
			bikeStatus = 120
		    ,updtDate = DATE_FORMAT(CONVERT_TZ(NOW(), 'UTC', 'Asia/Seoul'), '%Y-%m-%d %H:%i:%S')
		where
			bikeSeq = #{bikeSeq}
	</update>
	<select id="selectOneCountRsrvList" resultType="Integer">
    	SELECT count(*)
    	FROM bicycle as b
			left join reservation r on b.bikeSeq = r.bicycle_bikeSeq
		where 1=1
			and r.shop_shopSeq = (select userShopSeq from usercustomer where seq = #{seq})
			and b.bikeStatus = 121
    </select>
	<select id="selectOneCountInRList" resultType="Integer">
    	SELECT count(*)
    	FROM bicycle as b
			left join reservation r on b.bikeSeq = r.bicycle_bikeSeq
		where 1=1
			and r.shop_shopSeq = (select userShopSeq from usercustomer where seq = #{seq})
			and b.bikeStatus between 122 and 123
    </select>
</mapper>