<!DOCTYPE html>
<html lang="ko" data-bs-theme="light" data-pwa="true" xmlns:th="http://www.thymeleaf.org">
     <div th:replace="~{usr/include/LoginedHead :: LoginedHead}"></div>


    <!-- Page content -->
    <main class="content-wrapper">
      <div class="container pt-4 pt-sm-5 pb-5 mb-xxl-3">
        <div class="row pt-2 pt-sm-0 pt-lg-2 pb-2 pb-sm-3 pb-md-4 pb-lg-5">


          <!-- Sidebar navigation that turns into offcanvas on screens < 992px wide (lg breakpoint) -->
          <aside class="col-lg-3" style="margin-top: -105px">
            <div class="offcanvas-lg offcanvas-start sticky-lg-top pe-lg-3 pe-xl-4" id="accountSidebar">
              <div class="d-none d-lg-block" style="height: 105px"></div>

              <!-- Header -->
              <div class="offcanvas-header d-lg-block py-3 p-lg-0">
                <div class="d-flex flex-row flex-lg-column align-items-center align-items-lg-start">
                  <div class="flex-shrink-0 bg-body-secondary border rounded-circle overflow-hidden" style="width: 64px; height: 64px">
                    <img src="/usr/template/Finder/assets/img/account/avatar.jpg" alt="Avatar">
                  </div>
                  <div class="pt-lg-3 ps-3 ps-lg-0">
                    <h6 class="mb-1">[[${session.sessNameUsr}]]</h6>
                    <p class="fs-sm mb-0">[[${session.sessEmailUsr}]]</p>
                  </div>
                </div>
                <button type="button" class="btn-close d-lg-none" data-bs-dismiss="offcanvas" data-bs-target="#accountSidebar" aria-label="Close"></button>
              </div>

              <!-- Body (Navigation) -->
              <div class="offcanvas-body d-block pt-2 pt-lg-4 pb-lg-0">
                <nav class="list-group list-group-borderless">
                  <a class="list-group-item list-group-item-action d-flex align-items-center" href="/member/userBicycleUsrList">
                    <i class="fi-bicycle fs-lg me-2"></i>
                    내 자전거
                  </a>
                  <a class="list-group-item list-group-item-action d-flex align-items-center active" href="/review/reviewUsrList">
                    <i class="fi-star fs-base opacity-75 me-2"></i>
                    내가 작성한 리뷰
                  </a>
                  <a class="list-group-item list-group-item-action d-flex align-items-center" href="account-favorites.html">
                    <i class="fi-heart fs-base opacity-75 me-2"></i>
                    즐겨찾기
                  </a>
                  <a class="list-group-item list-group-item-action d-flex align-items-center" href="/member/userInfosettingUsrForm">
                    <i class="fi-settings fs-base opacity-75 me-2"></i>
                    계정 설정
                  </a>
                  <a class="list-group-item list-group-item-action d-flex align-items-center" th:if="${session.sessCateUsr} == 4" href="/member/shopUsrServiceAdmin">
                    <i class="fi-tool fs-base opacity-75 me-2"></i>
                    예약, 점검정비 관리
                  </a>
                </nav>
                <nav class="list-group list-group-borderless pt-3">
                  <a class="list-group-item list-group-item-action d-flex align-items-center" href="account-signin.html">
                    <i class="fi-log-out fs-base opacity-75 me-2"></i>
                    로그아웃
                  </a>
                </nav>
              </div>
            </div>
          </aside>


          <!-- Account reviews content -->
          <div class="col-lg-9">
            <h1 class="h2 pb-2 pb-lg-3">리 뷰</h1>

            <!-- Nav pills -->
            

            <div class="tab-content">

              
              <!-- Reviews by you tab -->
              <div class="tab-pane fade show active" id="reviews-by-you" role="tabpanel" aria-labelledby="reviews-by-you-tab">

                <!-- Review -->
                <div class="border-bottom pb-4">
                  <div class="d-flex align-items-start align-items-sm-center mb-3">
                    <div class="d-flex align-items-start justify-content-between w-100">
                      <div class="ps-3 pe-2 pe-sm-3">
                        <span class="badge text-info bg-info-subtle mb-2">Published</span>
                        <h4 class="mb-2 mb-sm-0">리뷰 샵: <a class="hover-effect-underline fw-medium text-dark-emphasis text-decoration-none ms-2" href="#!">섭바이크</a></h4>
                        <div class="d-flex gap-1 fs-sm py-sm-1 mb-2">
                          <i class="fi-star-filled text-warning"></i>
                          <i class="fi-star-filled text-warning"></i>
                          <i class="fi-star-filled text-warning"></i>
                          <i class="fi-star-filled text-warning"></i>
                          <i class="fi-star-filled text-warning"></i>
                        </div>
                        <div class="fs-xs text-body-secondary d-sm-none">Jan 17, 2024</div>
                      </div>
                      <div class="text-end ms-n5 ms-sm-0">
                        <div class="dropdown mb-sm-4">
                          <button type="button" class="btn btn-icon btn-outline-secondary" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Actions">
                            <i class="fi-more-vertical fs-lg"></i>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                              <a class="dropdown-item" href="#!">
                                <i class="fi-edit opacity-75 me-2"></i>
                                수정하기
                              </a>
                            </li>
                            <li>
                              <a class="dropdown-item text-danger" href="#!">
                                <i class="fi-trash opacity-75 me-2"></i>
                                삭제하기
                              </a>
                            </li>
                          </ul>
                        </div>
                        <div class="fs-xs text-body-secondary d-none d-sm-block">Jan 17, 2024</div>
                      </div>
                    </div>
                  </div>
                  <p class="fs-sm ps-3 pe-2 pe-sm-3">Excellent apartment in the very center of the city, attractions and entertainment venues are located 50m from the flat. The flat was perfectly clean and had basic slippers, gel-shampoo, clean towels.</p>
                  <div class="ps-3 pe-2 pe-sm-3 d-flex align-items-center fs-sm fw-medium text-body-secondary">
                    <div class="d-flex align-items-center me-n1">
                      <i class="fi-thumbs-up fs-base me-1"></i>
                      6
                    </div>
                    <hr class="vr my-2 mx-3">
                    <div class="d-flex align-items-center ms-n1">
                      <i class="fi-thumbs-down fs-base animate-target me-1"></i>
                      0
                    </div>
                  </div>
                </div>

                <!-- Review -->
                <div class="border-bottom py-4">
                  <div class="d-flex align-items-start align-items-sm-center mb-3">
                    <div class="d-flex align-items-start justify-content-between w-100">
                      <div class="ps-3 pe-2 pe-sm-3">
                        <span class="badge text-info bg-info-subtle mb-2">Published</span>
                        <h4 class="mb-2 mb-sm-0">리뷰 샵: <a class="hover-effect-underline fw-medium text-dark-emphasis text-decoration-none ms-2" href="#!">섭바이크</a></h4>
                        <div class="d-flex gap-1 fs-sm py-sm-1 mb-2">
                          <i class="fi-star-filled text-warning"></i>
                          <i class="fi-star-filled text-warning"></i>
                          <i class="fi-star-filled text-warning"></i>
                          <i class="fi-star-filled text-warning"></i>
                          <i class="fi-star-filled text-warning"></i>
                        </div>
                        <div class="fs-xs text-body-secondary d-sm-none">Jan 17, 2024</div>
                      </div>
                      <div class="text-end ms-n5 ms-sm-0">
                        <div class="dropdown mb-sm-4">
                          <button type="button" class="btn btn-icon btn-outline-secondary" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Actions">
                            <i class="fi-more-vertical fs-lg"></i>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                              <a class="dropdown-item" href="#!">
                                <i class="fi-edit opacity-75 me-2"></i>
                                수정하기
                              </a>
                            </li>
                            <li>
                              <a class="dropdown-item text-danger" href="#!">
                                <i class="fi-trash opacity-75 me-2"></i>
                                삭제하기
                              </a>
                            </li>
                          </ul>
                        </div>
                        <div class="fs-xs text-body-secondary d-none d-sm-block">Jan 17, 2024</div>
                      </div>
                    </div>
                  </div>
                  <p class="fs-sm ps-3 pe-2 pe-sm-3">Excellent apartment in the very center of the city, attractions and entertainment venues are located 50m from the flat. The flat was perfectly clean and had basic slippers, gel-shampoo, clean towels.</p>
                  <div class="ps-3 pe-2 pe-sm-3 d-flex align-items-center fs-sm fw-medium text-body-secondary">
                    <div class="d-flex align-items-center me-n1">
                      <i class="fi-thumbs-up fs-base me-1"></i>
                      6
                    </div>
                    <hr class="vr my-2 mx-3">
                    <div class="d-flex align-items-center ms-n1">
                      <i class="fi-thumbs-down fs-base animate-target me-1"></i>
                      0
                    </div>
                  </div>
                </div>

                <!-- Review -->
                <div class="border-bottom py-4">
                  <div class="d-flex align-items-start align-items-sm-center mb-3">
                    <div class="d-flex align-items-start justify-content-between w-100">
                      <div class="ps-3 pe-2 pe-sm-3">
                        <span class="badge text-info bg-info-subtle mb-2">Published</span>
                        <h4 class="mb-2 mb-sm-0">리뷰 샵: <a class="hover-effect-underline fw-medium text-dark-emphasis text-decoration-none ms-2" href="#!">섭바이크</a></h4>
                        <div class="d-flex gap-1 fs-sm py-sm-1 mb-2">
                          <i class="fi-star-filled text-warning"></i>
                          <i class="fi-star-filled text-warning"></i>
                          <i class="fi-star-filled text-warning"></i>
                          <i class="fi-star-filled text-warning"></i>
                          <i class="fi-star-filled text-warning"></i>
                        </div>
                        <div class="fs-xs text-body-secondary d-sm-none">Jan 17, 2024</div>
                      </div>
                      <div class="text-end ms-n5 ms-sm-0">
                        <div class="dropdown mb-sm-4">
                          <button type="button" class="btn btn-icon btn-outline-secondary" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Actions">
                            <i class="fi-more-vertical fs-lg"></i>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                              <a class="dropdown-item" href="#!">
                                <i class="fi-edit opacity-75 me-2"></i>
                                수정하기
                              </a>
                            </li>
                            <li>
                              <a class="dropdown-item text-danger" href="#!">
                                <i class="fi-trash opacity-75 me-2"></i>
                                삭제하기
                              </a>
                            </li>
                          </ul>
                        </div>
                        <div class="fs-xs text-body-secondary d-none d-sm-block">Jan 17, 2024</div>
                      </div>
                    </div>
                  </div>
                  <p class="fs-sm ps-3 pe-2 pe-sm-3">Excellent apartment in the very center of the city, attractions and entertainment venues are located 50m from the flat. The flat was perfectly clean and had basic slippers, gel-shampoo, clean towels.</p>
                  <div class="ps-3 pe-2 pe-sm-3 d-flex align-items-center fs-sm fw-medium text-body-secondary">
                    <div class="d-flex align-items-center me-n1">
                      <i class="fi-thumbs-up fs-base me-1"></i>
                      6
                    </div>
                    <hr class="vr my-2 mx-3">
                    <div class="d-flex align-items-center ms-n1">
                      <i class="fi-thumbs-down fs-base animate-target me-1"></i>
                      0
                    </div>
                  </div>
                </div>

                <!-- Review -->
                <div class="border-bottom py-4">
                  <div class="d-flex align-items-start align-items-sm-center mt-2 mb-3">
                    <div class="ratio ratio-1x1" style="max-width: 112px">
                      <img src="assets/img/account/reviews/05.jpg" class="bg-body-tertiary rounded" alt="Image">
                    </div>
                    <div class="d-flex align-items-start justify-content-between w-100">
                      <div class="ps-3 pe-2 pe-sm-3">
                        <span class="badge text-info bg-info-subtle mb-2">Published</span>
                        <div class="d-flex gap-1 fs-sm py-sm-1 mb-2">
                          <i class="fi-star-filled text-warning"></i>
                          <i class="fi-star-filled text-warning"></i>
                          <i class="fi-star-filled text-warning"></i>
                          <i class="fi-star-filled text-warning"></i>
                          <i class="fi-star text-warning"></i>
                        </div>
                        <p class="fs-sm mb-2 mb-sm-0">Review on:<a class="hover-effect-underline fw-medium text-dark-emphasis text-decoration-none ms-2" href="#!">1234 Maple Street, Brooklyn, NY 11201</a></p>
                        <div class="fs-xs text-body-secondary d-sm-none">Oct 3, 2022</div>
                      </div>
                      <div class="text-end ms-n5 ms-sm-0">
                        <div class="dropdown mb-sm-4">
                          <button type="button" class="btn btn-icon btn-outline-secondary" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Actions">
                            <i class="fi-more-vertical fs-lg"></i>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                              <a class="dropdown-item" href="#!">
                                <i class="fi-edit opacity-75 me-2"></i>
                                Edit
                              </a>
                            </li>
                            <li>
                              <a class="dropdown-item" href="#!">
                                <i class="fi-archive opacity-75 me-2"></i>
                                Move to archive
                              </a>
                            </li>
                            <li>
                              <a class="dropdown-item text-danger" href="#!">
                                <i class="fi-trash opacity-75 me-2"></i>
                                Delete
                              </a>
                            </li>
                          </ul>
                        </div>
                        <div class="fs-xs text-body-secondary d-none d-sm-block">Oct 3, 2022</div>
                      </div>
                    </div>
                  </div>
                  <p class="fs-sm">I recently rented an apartment and had a positive experience overall. The location is convenient, and the building amenities are great. The apartment itself is spacious and well-maintained. However, there were a few minor issues with the plumbing that took a little longer to fix than expected. Despite that, I'm happy with my decision and would recommend it to others.</p>
                  <div class="d-flex align-items-center fs-sm fw-medium text-body-secondary">
                    <div class="d-flex align-items-center me-n1">
                      <i class="fi-thumbs-up fs-base me-1"></i>
                      19
                    </div>
                    <hr class="vr my-2 mx-3">
                    <div class="d-flex align-items-center ms-n1">
                      <i class="fi-thumbs-down fs-base animate-target me-1"></i>
                      5
                    </div>
                  </div>
                </div>

                <!-- Pagination -->
                <nav class="pt-4 mt-md-2" aria-label="Reviews pagination">
                  <ul class="pagination pagination-lg">
                    <li class="page-item active" aria-current="page">
                      <span class="page-link">
                        1
                        <span class="visually-hidden">(current)</span>
                      </span>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#!">2</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#!">3</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>


        <div th:replace="~{usr/include/LoginedFooter :: LoginedFooter}"></div>

  </body>
</html>
