<!DOCTYPE html>
<html lang="ko" data-bs-theme="light" data-pwa="true" xmlns:th="http://www.thymeleaf.org">
   <div th:replace="~{usr/include/LoginedHead :: LoginedHead}"></div>


    <!-- Page content -->
    <main class="content-wrapper">
      <div class="container pt-4 pt-sm-5 pb-5 mb-xxl-3">
        <div class="row pt-2 pt-sm-0 pt-lg-2 pb-2 pb-sm-3 pb-md-4 pb-lg-5">


          <!-- Sidebar navigation that turns into offcanvas on screens < 992px wide (lg breakpoint) -->
          <aside class="col-lg-3" style="margin-top: -105px">
            <div class="offcanvas-lg offcanvas-start sticky-lg-top pe-lg-3 pe-xl-4" id="accountSidebar">
              <div class="d-none d-lg-block" style="height: 105px"></div>

              <!-- Header -->
              <div class="offcanvas-header d-lg-block py-3 p-lg-0">
                <div class="d-flex flex-row flex-lg-column align-items-center align-items-lg-start">
                  <div class="flex-shrink-0 bg-body-secondary border rounded-circle overflow-hidden" style="width: 64px; height: 64px">
                    <img src="/usr/template/Finder/assets/img/account/avatar.jpg" alt="Avatar">
                  </div>
                  <div class="pt-lg-3 ps-3 ps-lg-0">
                    <h6 class="mb-1">[[${session.sessNameUsr}]]</h6>
                    <p class="fs-sm mb-0">[[${session.sessEmailUsr}]]</p>
                  </div>
                </div>
                <button type="button" class="btn-close d-lg-none" data-bs-dismiss="offcanvas" data-bs-target="#accountSidebar" aria-label="Close"></button>
              </div>

              <!-- Body (Navigation) -->
              <div class="offcanvas-body d-block pt-2 pt-lg-4 pb-lg-0">
                <nav class="list-group list-group-borderless">
                  <a class="list-group-item list-group-item-action d-flex align-items-center active" href="/member/userBicycleUsrList">
                    <i class="fi-bicycle fs-lg me-2"></i>
                    내 자전거
                  </a>
                  <a class="list-group-item list-group-item-action d-flex align-items-center" href="/review/reviewUsrList">
                    <i class="fi-star fs-base opacity-75 me-2"></i>
                    내가 작성한 리뷰
                  </a>
                  <a class="list-group-item list-group-item-action d-flex align-items-center" href="account-favorites.html">
                    <i class="fi-heart fs-base opacity-75 me-2"></i>
                    즐겨찾기
                  </a>
                  <a class="list-group-item list-group-item-action d-flex align-items-center" href="/member/userInfosettingUsrForm">
                    <i class="fi-settings fs-base opacity-75 me-2"></i>
                    계정 설정
                  </a>
                  <a class="list-group-item list-group-item-action d-flex align-items-center" th:if="${session.sessCateUsr} == 4" href="/member/shopUsrServiceAdmin">
                    <i class="fi-tool fs-base opacity-75 me-2"></i>
                    예약, 점검정비 관리
                  </a>
                </nav>
                <nav class="list-group list-group-borderless pt-3">
                  <a class="list-group-item list-group-item-action d-flex align-items-center" href="account-signin.html">
                    <i class="fi-log-out fs-base opacity-75 me-2"></i>
                    로그아웃
                  </a>
                </nav>
              </div>
            </div>
          </aside>


          <!-- Account listings content -->
          <div class="col-lg-9">
<form id="formList" name="formList" method="get">
            <h1 class="h2 pb-2 pb-lg-3">내 자전거</h1>
            <!-- Nav pills -->
            <div class="nav overflow-x-auto mb-2">
              <ul class="nav nav-pills flex-nowrap gap-2 pb-2 mb-1" role="tablist">
                <li class="nav-item me-1" role="presentation">
                  <button type="button" class="nav-link text-nowrap active" id="myBicycle-tab" data-bs-toggle="pill" data-bs-target="#myBicycle" role="tab" aria-controls="myBicycle" aria-selected="true">
                    내 자전거 (3)
                  </button>
                </li>
                <li class="nav-item me-1" role="presentation">
                  <button type="button" class="nav-link text-nowrap" id="drafts-tab" data-bs-toggle="pill" data-bs-target="#drafts" role="tab" aria-controls="drafts" aria-selected="false">
                    점검&정비 예약중 (1)
                  </button>
                </li>
                <li class="nav-item" role="presentation">
                  <button type="button" class="nav-link text-nowrap" id="archived-tab" data-bs-toggle="pill" data-bs-target="#archived" role="tab" aria-controls="archived" aria-selected="false">
                    점검&정비중 (0)
                  </button>
                </li>
              </ul>
            </div>

            <div class="tab-content">

              <!-- Published tab -->
              <div class="tab-pane fade show active" id="myBicycle" role="tabpanel" aria-labelledby="myBicycle-tab">

                <!-- Master checkbox + Action buttons -->
                <div class="nav align-items-center mb-4">
                  <div class="nav-link fs-lg ps-0 pe-2 py-2 mt-n1 me-4" data-master-checkbox='{"container": "#myBicycleSelection", "label": "모두 선택하기", "labelChecked": "모두 해제하기", "showOnCheck": "#published-action-buttons"}'>
                    <input type="checkbox" class="form-check-input" id="myBicycle-master" checked>
                    <label for="myBicycle-master" class="form-check-label fw-normal mt-1 ms-2">모두 선택하기</label>
                  </div>
                  <div class="d-flex flex-wrap" id="published-action-buttons">
                    <!-- <a class="nav-link position-relative px-0 pe-sm-2 py-2 me-4" href="#!">
                      <i class="fi-zap fs-base me-2"></i>
                      <span class="hover-effect-underline stretched-link d-none d-md-inline">Promote</span>
                    </a>
                    <a class="nav-link position-relative px-0 pe-sm-2 py-2 me-4" href="#!">
                      <i class="fi-archive fs-base me-2"></i>
                      <span class="hover-effect-underline stretched-link d-none d-md-inline">Move to archive</span>
                    </a> -->
                    <a class="nav-link position-relative text-danger px-0 py-2" href="#!">
                      <i class="fi-trash fs-base me-1"></i>
                      <span class="hover-effect-underline stretched-link d-none d-md-inline">삭제하기</span>
                    </a>
                  </div>
                </div>

                <!-- Published listings -->
                <div class="vstack gap-4" id="myBicycleSelection">

                  <!-- Item -->
                 <input type="hidden" name="bikeSeq">
                  <div class="d-sm-flex align-items-center" th:each="list : ${list}">
                    <div class="d-inline-flex position-relative z-2 pt-1 pb-2 ps-2 p-sm-0 ms-2 ms-sm-0 me-sm-2">
                      <div class="form-check position-relative z-1 fs-lg m-0">
                        <input type="checkbox" class="form-check-input" checked>
                      </div>
                      <span class="position-absolute top-0 start-0 w-100 h-100 bg-body border rounded d-sm-none"></span>
                    </div>
                    <article class="card w-100">
                      <div class="row g-0">
                        <div class="col-sm-4 col-md-3 rounded overflow-hidden pb-2 pb-sm-0 pe-sm-2">
                          <a class="position-relative d-flex h-100 bg-body-tertiary" href="#!" style="min-height: 174px">
                            <img src="/usr/template/Finder/assets/img/add-item/bd/IMG_4871.JPG" class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover" alt="Image">
                            <div class="ratio d-none d-sm-block"  style="--fn-aspect-ratio: calc(180 / 240 * 100%)"></div>
                            <div class="ratio ratio-16x9 d-sm-none"></div>
                          </a>
                        </div>
                        <div class="col-sm-8 col-md-9 align-self-center">
                          <div class="card-body d-flex justify-content-between p-3 py-sm-4 ps-sm-2 ps-md-3 pe-md-4 mt-n1 mt-sm-0">
                            <div class="position-relative pe-3">
                              <div class="h2 mb-2"><span th:text="${list.bicycleName}"></span></div>
                              <div class="h5 mb-2"><span th:text="${@codeService.selectOneCachedCodeEng(list?.bicycleBrandCd)}"></span> <span th:text="${list?.bicycleModel}"></span></div>
                              <div class="h6 fs-sm mb-0 opacity-75"><span th:text="${@codeService.selectOneCachedCodeEng(list.drivetrainBrandCd)}"></span> <span th:text="${list.drivetrainModel}"></span></div>
                              <div class="h6 fs-sm mb-0 opacity-75"><span th:text="${@codeService.selectOneCachedCodeEng(list.wheelBrandCd)}"></span> <span th:text="${list.wheelModel}"></span></div>
                            </div>
                            <div class="text-end">
                              <div class="fs-xs text-body-secondary mb-3">최근 점검&정비: <span th:text="${list.updtDate}"></span></div>
                              <div class="d-flex justify-content-end gap-2 mb-3">                            
                                <div class="dropdown">
                                  <button type="button" class="btn btn-icon btn-outline-secondary" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Settings">
                                    <i class="fi-settings fs-base"></i>
                                  </button>
                                  <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                      <a class="dropdown-item" href = "javascript:void(0);" th:attr="onclick=|goForm('${list.bikeSeq}')|">
                                        <i class="fi-edit opacity-75 me-2"></i>
                                        수정하기
                                      </a>
                                    </li>
                                    <li>
                                      <a class="dropdown-item" href="#!">
                                        <i class="fi-zap fs-base opacity-75 me-2"></i>
                                        점검,정비 내역보기
                                      </a>
                                    </li>
                                    <!-- <li>
                                      <a class="dropdown-item" href="#!">
                                        <i class="fi-archive opacity-75 me-2"></i>
                                        Move to archive
                                      </a>
                                    </li> -->
                                    <li>
                                      <a class="dropdown-item text-danger" href="#!">
                                        <i class="fi-trash opacity-75 me-2"></i>
                                        삭제하기
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <ul class="list-unstyled flex-row flex-wrap fs-sm mb-0">
                                <li class="d-flex align-items-center me-2 me-md-3">
                                  <i class="fi-eye fs-base me-1"></i>
                                  최근 점검&정비 샵
                                </li>
                                <!-- <li class="d-flex align-items-center me-2 me-md-3">
                                  <i class="fi-heart fs-base me-1"></i>
                                  최근 점검일
                                </li> -->
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>

                  <!-- Item -->
                  <div class="d-sm-flex align-items-center">
                    <div class="d-inline-flex position-relative z-2 pt-1 pb-2 ps-2 p-sm-0 ms-2 ms-sm-0 me-sm-2">
                      <div class="form-check position-relative z-1 fs-lg m-0">
                        <input type="checkbox" class="form-check-input" checked>
                      </div>
                      <span class="position-absolute top-0 start-0 w-100 h-100 bg-body border rounded d-sm-none"></span>
                    </div>
                    <article class="card w-100">
                      <div class="row g-0">
                        <div class="col-sm-4 col-md-3 rounded overflow-hidden pb-2 pb-sm-0 pe-sm-2">
                          <a class="position-relative d-flex h-100 bg-body-tertiary" href="#!" style="min-height: 174px">
                            <img src="/usr/template/Finder/assets/img/add-item/bd/IMG_4871.JPG" class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover" alt="Image">
                            <div class="ratio d-none d-sm-block"  style="--fn-aspect-ratio: calc(180 / 240 * 100%)"></div>
                            <div class="ratio ratio-16x9 d-sm-none"></div>
                          </a>
                        </div>
                        <div class="col-sm-8 col-md-9 align-self-center">
                          <div class="card-body d-flex justify-content-between p-3 py-sm-4 ps-sm-2 ps-md-3 pe-md-4 mt-n1 mt-sm-0">
                            <div class="position-relative pe-3">
                              <div class="h5 mb-2">Look 795 Light RS</div>
                              <div class="h6 fs-sm mb-0 opacity-75">Campanolo SuperRecord</div>
                              <div class="h6 fs-sm mb-0 opacity-75">Campanolo Bora Ultra 50</div>
                            </div>
                            <div class="text-end">
                              <div class="fs-xs text-body-secondary mb-3">최근 점검&정비: 2025/06/06</div>
                              <div class="d-flex justify-content-end gap-2 mb-3">                            
                                <div class="dropdown">
                                  <button type="button" class="btn btn-icon btn-outline-secondary" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Settings">
                                    <i class="fi-settings fs-base"></i>
                                  </button>
                                  <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                      <a class="dropdown-item" href="#!">
                                        <i class="fi-edit opacity-75 me-2"></i>
                                        수정하기
                                      </a>
                                    </li>
                                    <li>
                                      <a class="dropdown-item" href="#!">
                                        <i class="fi-zap fs-base opacity-75 me-2"></i>
                                        점검,정비 내역보기
                                      </a>
                                    </li>
                                    <!-- <li>
                                      <a class="dropdown-item" href="#!">
                                        <i class="fi-archive opacity-75 me-2"></i>
                                        Move to archive
                                      </a>
                                    </li> -->
                                    <li>
                                      <a class="dropdown-item text-danger" href="#!">
                                        <i class="fi-trash opacity-75 me-2"></i>
                                        삭제하기
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <ul class="list-unstyled flex-row flex-wrap fs-sm mb-0">
                                <li class="d-flex align-items-center me-2 me-md-3">
                                  <i class="fi-eye fs-base me-1"></i>
                                  최근 점검&정비 샵
                                </li>
                                <!-- <li class="d-flex align-items-center me-2 me-md-3">
                                  <i class="fi-heart fs-base me-1"></i>
                                  최근 점검일
                                </li> -->
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>

                </div>
              </div>


              <!-- Drafts tab -->
              <div class="tab-pane fade" id="drafts" role="tabpanel" aria-labelledby="drafts-tab">

                <!-- Master checkbox + Action buttons -->
                <div class="nav align-items-center mb-4">
                  <div class="nav-link fs-lg ps-0 pe-2 py-2 mt-n1 me-4" data-master-checkbox='{"container": "#draftsSelection", "label": "Select all the ads to apply the same action to them", "labelChecked": "Unselect all", "showOnCheck": "#drafts-action-buttons"}'>
                    <input type="checkbox" class="form-check-input" id="drafts-master">
                    <label for="drafts-master" class="form-check-label fw-normal mt-1 ms-2">Select all the ads to apply the same action to them</label>
                  </div>
                  <div class="d-flex flex-wrap d-none" id="drafts-action-buttons">
                    <a class="nav-link position-relative px-0 pe-sm-2 py-2 me-4" href="#!">
                      <i class="fi-zap fs-base me-2"></i>
                      <span class="hover-effect-underline stretched-link d-none d-md-inline">Promote</span>
                    </a>
                    <a class="nav-link position-relative px-0 pe-sm-2 py-2 me-4" href="#!">
                      <i class="fi-archive fs-base me-2"></i>
                      <span class="hover-effect-underline stretched-link d-none d-md-inline">Move to archive</span>
                    </a>
                    <a class="nav-link position-relative text-danger px-0 py-2" href="#!">
                      <i class="fi-trash fs-base me-1"></i>
                      <span class="hover-effect-underline stretched-link d-none d-md-inline">Delete</span>
                    </a>
                  </div>
                </div>

                <!-- Drafts listings -->
                <div class="vstack gap-4" id="draftsSelection">
				<div class="d-sm-flex align-items-center" th:each="listR : ${listR}">
				<input type="hidden" id="shopSeq" name="shopSeq" />
                    <div class="d-inline-flex position-relative z-2 pt-1 pb-2 ps-2 p-sm-0 ms-2 ms-sm-0 me-sm-2">
                      <div class="form-check position-relative z-1 fs-lg m-0">
                        <input type="checkbox" class="form-check-input" checked>
                      </div>
                      <span class="position-absolute top-0 start-0 w-100 h-100 bg-body border rounded d-sm-none"></span>
                    </div>
                    <article class="card w-100">
                      <div class="row g-0">
                        <div class="col-sm-4 col-md-3 rounded overflow-hidden pb-2 pb-sm-0 pe-sm-2">
                          <a class="position-relative d-flex h-100 bg-body-tertiary" href="#!" style="min-height: 174px">
                            <img src="/usr/template/Finder/assets/img/add-item/bd/IMG_4871.JPG" class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover" alt="Image">
                            <div class="ratio d-none d-sm-block"  style="--fn-aspect-ratio: calc(180 / 240 * 100%)"></div>
                            <div class="ratio ratio-16x9 d-sm-none"></div>
                          </a>
                        </div>
                        <div class="col-sm-8 col-md-9 align-self-center">
                          <div class="card-body d-flex justify-content-between p-3 py-sm-4 ps-sm-2 ps-md-3 pe-md-4 mt-n1 mt-sm-0">
                            <div class="position-relative pe-3">
                              <div class="h2 mb-2"><span th:text="${listR.bicycleName}"></span></div>
                              <div class="h5 mb-2"><span th:text="${@codeService.selectOneCachedCodeEng(listR?.bicycleBrandCd)}"></span> <span th:text="${listR?.bicycleModel}"></span></div>
                              <div class="h6 fs-sm mb-0 opacity-75"><span th:text="${@codeService.selectOneCachedCodeEng(listR.drivetrainBrandCd)}"></span> <span th:text="${listR.drivetrainModel}"></span></div>
                              <div class="h6 fs-sm mb-0 opacity-75"><span th:text="${@codeService.selectOneCachedCodeEng(listR.wheelBrandCd)}"></span> <span th:text="${listR.wheelModel}"></span></div>
                            </div>
                            <div class="text-end">
                              <div class="fs-xs text-body-secondary mb-3">최근 점검&정비: <span th:text="${listR.updtDate}"></span></div>
                              <div class="d-flex justify-content-end gap-2 mb-3">                            
                                <div class="dropdown">
                                  <button type="button" class="btn btn-icon btn-outline-secondary" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Settings">
                                    <i class="fi-settings fs-base"></i>
                                  </button>
                                  <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                      <a class="dropdown-item" href = "javascript:void(0);" th:attr="onclick=|goForm('${listR.bikeSeq}')|">
                                        <i class="fi-edit opacity-75 me-2"></i>
                                        수정하기
                                      </a>
                                    </li>
                                    <li>
                                      <a class="dropdown-item" href="#!">
                                        <i class="fi-zap fs-base opacity-75 me-2"></i>
                                        점검,정비 내역보기
                                      </a>
                                    </li>
                                    <!-- <li>
                                      <a class="dropdown-item" href="#!">
                                        <i class="fi-archive opacity-75 me-2"></i>
                                        Move to archive
                                      </a>
                                    </li> -->
                                    <li>
                                      <a class="dropdown-item text-danger" href="#!">
                                        <i class="fi-trash opacity-75 me-2"></i>
                                        삭제하기
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <ul class="list-unstyled flex-row flex-wrap fs-sm mb-0">
                                <li class="d-flex align-items-center me-2 me-md-3">
                                  <i class="fi-eye fs-base me-1"></i>
                                  예약 점검&정비 샵 :&ensp;  <a href = "javascript:void(0);" th:attr="onclick=|goShop('${listR.shopSeq}')|"><span th:text="${listR?.shopName}"></span></a>
                                </li>
                                <!-- <li class="d-flex align-items-center me-2 me-md-3">
                                  <i class="fi-heart fs-base me-1"></i>
                                  최근 점검일
                                </li> -->
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                  <!-- Item -->
                  <div class="d-sm-flex align-items-center">
                    <div class="d-inline-flex position-relative z-2 pt-1 pb-2 ps-2 p-sm-0 ms-2 ms-sm-0 me-sm-2">
                      <div class="form-check position-relative z-1 fs-lg m-0">
                        <input type="checkbox" class="form-check-input">
                      </div>
                      <span class="position-absolute top-0 start-0 w-100 h-100 bg-body border rounded d-sm-none"></span>
                    </div>
                    <article class="card w-100">
                      <div class="d-sm-none" style="margin-top: -44px"></div>
                      <div class="row g-0">
                        <div class="col-sm-4 col-md-3 rounded overflow-hidden pb-2 pb-sm-0 pe-sm-2">
                          <a class="position-relative d-flex h-100 bg-body-tertiary" href="#!" style="min-height: 174px">
                            <img src="assets/img/add-item/bd/IMG_4871.JPG" class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover" alt="Image">
                            <div class="ratio d-none d-sm-block"  style="--fn-aspect-ratio: calc(180 / 240 * 100%)"></div>
                            <div class="ratio ratio-16x9 d-sm-none"></div>
                          </a>
                        </div>
                        <div class="col-sm-8 col-md-9 align-self-center">
                          <div class="card-body d-flex justify-content-between p-3 py-sm-4 ps-sm-2 ps-md-3 pe-md-4 mt-n1 mt-sm-0">
                            <div class="position-relative pe-3">
                              <span class="badge text-body-emphasis bg-body-secondary mb-2">For rent</span>
                              <div class="h5 mb-2">Look 795 Light RS</div>
                              <div class="h6 fs-sm mb-0 opacity-75">Campanolo SuperRecord</div>
                              <div class="h6 fs-sm mb-0 opacity-75">Campanolo Bora Ultra 50</div>
                            </div>
                            <div class="text-end">
                              <div class="fs-xs text-body-secondary mb-3">점검&정비 예약: 2025/07/25 13:30</div>
                              <div class="d-flex justify-content-end gap-2 mb-3">                            
                                <div class="dropdown">
                                  <button type="button" class="btn btn-icon btn-outline-secondary" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Settings">
                                    <i class="fi-settings fs-base"></i>
                                  </button>
                                  <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                      <a class="dropdown-item" href="#!">
                                        <i class="fi-edit opacity-75 me-2"></i>
                                        수정하기
                                      </a>
                                    </li>
                                    <li>
                                      <a class="dropdown-item text-danger" href="#!">
                                        <i class="fi-trash opacity-75 me-2"></i>
                                        삭제하기
                                      </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                              <ul class="list-unstyled flex-row flex-wrap fs-sm mb-0">
                                <li class="d-flex align-items-center me-2 me-md-3">
                                  <i class="fi-eye fs-base me-1"></i>
                                  점검&정비 예약 샵
                                </li>
                                <li class="d-flex align-items-center me-2 me-md-3">
                                  <i class="fi-heart fs-base me-1"></i>
                                  최근 점검일
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>


              <!-- Archived tab -->
              <div class="tab-pane fade" id="archived" role="tabpanel" aria-labelledby="archived-tab">
                <h2 class="h6 pt-2 mb-2">점검&정비중인 자전거가 없습니다.</h2>
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </main>


    <div th:replace="~{usr/include/LoginedFooter :: LoginedFooter}"></div>
<script type="text/javascript">
let form = document.querySelector("form[name=formList]");
let seq = document.querySelector("input[name=bikeSeq]");
let seqS = document.querySelector("input[name=shopSeq]");

goForm = function (keyValue) {
    seq.value = keyValue;
    form.action = "/bicycle/bicycleUsrMfom";
    form.submit();
}
goShop = function (keyValue) {
    seqS.value = keyValue;
    form.action = "/shop/shopUsrView";
    form.submit();
}
</script>
</html>
