<!DOCTYPE html>
<html lang="ko" data-bs-theme="light" data-pwa="true" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">

    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">

    <!-- SEO Meta Tags -->
    <title>Bicycle Doctors | 가입하기</title>
    <meta name="description" content="Bicycle Doctors">
    <meta name="keywords" content="bicycle, bike, roadbike, mtb, minivelo, cycle, doctors">
    <meta name="author" content="JeongByeongJo">

    <!-- Webmanifest + Favicon / App icons -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" type="image/png" href="/usr/template/Finder/assets/app-icons/icon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="/usr/template/Finder/assets/app-icons/icon-180x180.png">

    <!-- Theme switcher (color modes) -->
    <script src="/usr/template/Finder/assets/js/theme-switcher.js"></script>

    <!-- Preloaded local web font (Inter) -->
    <link rel="preload" href="/usr/template/Finder/assets/fonts/inter-variable-latin.woff2" as="font" type="font/woff2" crossorigin>

    <!-- Font icons -->
    <link rel="preload" href="/usr/template/Finder/assets/icons/finder-icons.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="/usr/template/Finder/assets/icons/finder-icons.min.css">

    <!-- Vendor styles -->
    <link rel="stylesheet" href="/usr/template/Finder/assets/vendor/flatpickr/dist/flatpickr.min.css">

    <!-- Bootstrap + Theme styles -->
    <link rel="preload" href="/usr/template/Finder/assets/css/theme.min.css" as="style">
    <link rel="preload" href="/usr/template/Finder/assets/css/theme.rtl.min.css" as="style">
    <link rel="stylesheet" href="/usr/template/Finder/assets/css/theme.min.css" id="theme-styles">
  </head>


  <!-- Body -->
  <body>

    <!-- Page content -->
    <main class="content-wrapper w-100 px-3 ps-lg-5 pe-lg-4 mx-auto" style="max-width: 1920px">
      <div class="d-lg-flex">

        <!-- Login form + Footer -->
        <div class="d-flex flex-column min-vh-100 w-100 py-4 mx-auto me-lg-5" style="max-width: 416px">

          <!-- Logo -->
          <header class="navbar px-0 pb-4 mt-n2 mt-sm-0 mb-2 mb-md-3 mb-lg-4">
            <a class="navbar-brand pt-0" href="/index">
              <span class="d-flex flex-shrink-0 text-primary rtl-flip me-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="34">
                <path d="M34.5 16.894v10.731c0 3.506-2.869 6.375-6.375 6.375H17.5h-.85C7.725 33.575.5 26.138.5 17c0-9.35 7.65-17 17-17s17 7.544 17 16.894z" fill="currentColor"/><g fill-rule="evenodd">
                <path d="M17.5 13.258c-3.101 0-5.655 2.554-5.655 5.655s2.554 5.655 5.655 5.655 5.655-2.554 5.655-5.655-2.554-5.655-5.655-5.655zm-9.433 5.655c0-5.187 4.246-9.433 9.433-9.433s9.433 4.246 9.433 9.433a9.36 9.36 0 0 1-1.569 5.192l2.397 2.397a1.89 1.89 0 0 1 0 2.671 1.89 1.89 0 0 1-2.671 0l-2.397-2.397a9.36 9.36 0 0 1-5.192 1.569c-5.187 0-9.433-4.246-9.433-9.433z" fill="#000" fill-opacity=".05"/>
                <g fill="#fff"><path d="M17.394 10.153c-3.723 0-6.741 3.018-6.741 6.741s3.018 6.741 6.741 6.741 6.741-3.018 6.741-6.741-3.018-6.741-6.741-6.741zM7.347 16.894A10.05 10.05 0 0 1 17.394 6.847 10.05 10.05 0 0 1 27.44 16.894 10.05 10.05 0 0 1 17.394 26.94 10.05 10.05 0 0 1 7.347 16.894z"/><path d="M23.025 22.525c.645-.645 1.692-.645 2.337 0l3.188 3.188c.645.645.645 1.692 0 2.337s-1.692.645-2.337 0l-3.187-3.187c-.645-.646-.645-1.692 0-2.337z"/></g></g>
                <path d="M23.662 14.663c2.112 0 3.825-1.713 3.825-3.825s-1.713-3.825-3.825-3.825-3.825 1.713-3.825 3.825 1.713 3.825 3.825 3.825z" fill="#fff"/><path fill-rule="evenodd" d="M23.663 8.429a2.41 2.41 0 0 0-2.408 2.408 2.41 2.41 0 0 0 2.408 2.408 2.41 2.41 0 0 0 2.408-2.408 2.41 2.41 0 0 0-2.408-2.408zm-5.242 2.408c0-2.895 2.347-5.242 5.242-5.242s5.242 2.347 5.242 5.242-2.347 5.242-5.242 5.242-5.242-2.347-5.242-5.242z" fill="currentColor"/></svg>
              </span>
              Bicycle Doctors
            </a>
          </header>

          <h1 class="h2 mt-auto">계정 만들기</h1>
          <div class="nav fs-sm mb-3 mb-lg-4">
            이미 계정을 가지고 있습니다.
            <a class="nav-link text-decoration-underline p-0 ms-2" href="/member/signinUsrForm">로그인</a>
          </div>
          <div class="nav fs-sm mb-4 d-lg-none">
            <span class="me-2">계정 만들기가 고민되세요?</span>
            <a class="nav-link text-decoration-underline p-0" href="#benefits" data-bs-toggle="offcanvas" aria-controls="benefits">회원가입을 하시면..</a>
          </div>

          <!-- Form -->
          <form class="needs-validation" id="form" name="form" novalidate>
            <div class="position-relative mb-4">
              <label for="userId" class="form-label">아이디 | ID<span style="color: red;"> *</span></label>
              <input type="text" class="form-control form-control-lg" id="userId" name="userId" th:value="${item?.userId}" placeholder="아이디" required>
              <div class="invalid-tooltip bg-transparent py-0" id="userIdInvalid">사용할 아이디를 입력해주세요.</div>
            </div>
            <div class="position-relative mb-4">
              <label for="userPassword" class="form-label">비밀번호 | Password<span style="color: red;"> *</span></label>
              <div class="password-toggle">
                <input type="password" class="form-control form-control-lg" id="userPassword" name="userPassword" placeholder="최소 8자리 이상의 비밀번호를 입력해주세요." required>
                <div class="invalid-tooltip bg-transparent py-0">8자리 이상의 비밀번호를 만들어주세요.</div>
                <label class="password-toggle-button fs-lg" aria-label="Show/hide password">
                  <input type="checkbox" class="btn-check">
                </label>
              </div>
            </div>
            <div class="position-relative mb-4">
              <label for="userName" class="form-label">성 명 | Full Name<span style="color: red;"> *</span></label>
              <input type="text" class="form-control form-control-lg" id="userName" name="userName" th:value="${item?.userName}" placeholder="이름을 적어주세요." required>
              <div class="invalid-tooltip bg-transparent py-0">이름을 적어주세요.</div>
            </div>
            <div class="position-relative mb-4">
              <label for="userTel" class="form-label">휴대전화번호 | CellPhone Number<span style="color: red;"> *</span></label>
              <input type="tel" class="form-control form-control-lg" id="userTel" name="userTel" data-input-format='{"numericOnly": true, "delimiters": [" ", "- ", " ", "- ", " " ], "blocks": [3, 0, 4, 0, 4]}' placeholder="전화번호 적어주세요." required>
              <div class="invalid-tooltip bg-transparent py-0">전화번호를 적어주세요.</div>
            </div>
            <div class="position-relative mb-4">
              <label for="userEmail" class="form-label">이메일 | Email<span style="color: red;"> *</span></label>
              <input type="email" class="form-control form-control-lg" id="userEmail" name="userEmail" th:value="${item?.userEmail}" placeholder="이메일 주소" required>
              <div class="invalid-tooltip bg-transparent py-0" id="userEmailInvalid">유효한 이메일주소를 입력해주세요.</div>
            </div>
            <div class="form-check form-check-inline mb-4">
              <input type="radio" class="form-check-input" id="userGender" name="userGender" value="1">
              <label for="ex-radio-5" class="form-check-label">남 성</label>
            </div>
            <div class="form-check form-check-inline mb-4">
              <input type="radio" class="form-check-input" id="" name="userGender" value="2">
              <label for="ex-radio-6" class="form-check-label">여 성</label>
            </div>
            <br>
            <label for="date-1" class="form-label">생년월일 | Date of birth</label>
            <div class="position-relative mb-4">
              <input type="text" class="form-control form-icon-end" id="userDob" name="userDob" data-datepicker placeholder="Choose date">
              <i class="fi-calendar position-absolute top-50 end-0 translate-middle-y me-3"></i>
            </div>
            <div class="d-flex flex-column gap-2 mb-4">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="save-pass">
                <label for="save-pass" class="form-check-label">비밀번호 저장하기</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="privacy" required>
                <label for="privacy" class="form-check-label"><a class="text-dark-emphasis" href="#!">개인정보 정책</a>을 읽고 동의합니다.</label>
              </div>
            </div>
            <button type="button" id="btnSignUp" class="btn btn-lg btn-primary w-100">
              계정 만들기
              <i class="fi-chevron-right fs-lg ms-1 me-n1"></i>
            </button>
          </form>

          <!-- Divider -->
          <div class="d-flex align-items-center my-4">
            <hr class="w-100 m-0">
            <span class="text-body-emphasis fw-medium text-nowrap mx-4">소셜 계정 이용하기</span>
            <hr class="w-100 m-0">
          </div>

          <!-- Social login -->
          <div class="d-flex flex-column flex-sm-row gap-3 pb-4 mb-3 mb-lg-4">
            <button type="button" class="btn btn-lg btn-outline-secondary w-100 px-2">
              <i class="fi-google ms-1 me-1"></i>
              Google
            </button>
            <button type="button" class="btn btn-lg btn-outline-secondary w-100 px-2">
              <i class="fi-facebook ms-1 me-1"></i>
              Facebook
            </button>
            <button type="button" class="btn btn-lg btn-outline-secondary w-100 px-2">
              <i class="fi-apple ms-1 me-1"></i>
              Apple
            </button>
          </div>
<div id="g_id_onload"
     data-client_id="855437050691-1fl75ij4h1tgq4iqq5bjr6tsga1nea0g.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="http://localhost:8080/api/v1/oauth2/google"
     data-auto_prompt="false">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="pill"
     data-theme="outline"
     data-text="signin"
     data-size="large"
     data-logo_alignment="left">
</div>
          <!-- Footer -->
          <footer class="mt-auto">
            <div class="nav mb-4">
              <a class="nav-link text-decoration-underline p-0" href="help-topics-v1.html">Need help?</a>
            </div>
            <p class="fs-xs mb-0">
              &copy; All rights reserved. Made by <a class="hover-effect-underline text-dark-emphasis text-decoration-none" href="https://createx.studio/" target="_blank" rel="noreferrer">JeongByeongJo</a>
            </p>
          </footer>
        </div>


        <!-- Benefits section that turns into offcanvas on screens < 992px wide (lg breakpoint) -->
        <div class="offcanvas-lg offcanvas-end w-100 py-lg-4 ms-auto" id="benefits" style="max-width: 1034px">
          <div class="offcanvas-header justify-content-end position-relative z-2 p-3">
            <button type="button" class="btn btn-icon btn-outline-dark text-dark border-dark bg-transparent rounded-circle d-none-dark" data-bs-dismiss="offcanvas" data-bs-target="#benefits" aria-label="Close">
              <i class="fi-close fs-lg"></i>
            </button>
            <button type="button" class="btn btn-icon btn-outline-dark text-light border-light bg-transparent rounded-circle d-none d-inline-flex-dark" data-bs-dismiss="offcanvas" data-bs-target="#benefits" aria-label="Close">
              <i class="fi-close fs-lg"></i>
            </button>
          </div>
          <span class="position-absolute top-0 start-0 w-100 h-100 bg-info-subtle d-lg-none"></span>
          <div class="offcanvas-body position-relative z-2 d-lg-flex flex-column align-items-center justify-content-center h-100 pt-2 px-3 p-lg-0">
            <span class="position-absolute top-0 start-0 w-100 h-100 bg-info-subtle rounded-5 d-none d-lg-block"></span>
            <div class="position-relative z-2 w-100 text-center px-md-2 p-lg-5">
              <h2 class="h4 pb-3">계정을 만드시면...</h2>
              <div class="mx-auto" style="max-width: 790px">
                <div class="row row-cols-1 row-cols-sm-2 g-3 g-md-4 g-lg-3 g-xl-4">
                  <div class="col">
                    <div class="card h-100 bg-transparent border-0">
                      <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border border-white border-opacity-75 rounded-4 d-none-dark" style="--fn-bg-opacity: .3"></span>
                      <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border rounded-4 d-none d-block-dark" style="--fn-bg-opacity: .05"></span>
                      <div class="card-body position-relative z-2">
                        <div class="d-inline-flex position-relative text-info p-3">
                          <span class="position-absolute top-0 start-0 w-100 h-100 bg-white rounded-pill d-none-dark"></span>
                          <span class="position-absolute top-0 start-0 w-100 h-100 bg-body-secondary rounded-pill d-none d-block-dark"></span>
                          <i class="fi-mail position-relative z-2 fs-4 m-1"></i>
                        </div>
                        <h3 class="h6 pt-2 my-2">정비 내역 관리</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100 bg-transparent border-0">
                      <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border border-white border-opacity-75 rounded-4 d-none-dark" style="--fn-bg-opacity: .3"></span>
                      <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border rounded-4 d-none d-block-dark" style="--fn-bg-opacity: .05"></span>
                      <div class="card-body position-relative z-2">
                        <div class="d-inline-flex position-relative text-info p-3">
                          <span class="position-absolute top-0 start-0 w-100 h-100 bg-white rounded-pill d-none-dark"></span>
                          <span class="position-absolute top-0 start-0 w-100 h-100 bg-body-secondary rounded-pill d-none d-block-dark"></span>
                          <i class="fi-settings position-relative z-2 fs-4 m-1"></i>
                        </div>
                        <h3 class="h6 pt-2 my-2">정비 주기 관리</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100 bg-transparent border-0">
                      <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border border-white border-opacity-75 rounded-4 d-none-dark" style="--fn-bg-opacity: .3"></span>
                      <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border rounded-4 d-none d-block-dark" style="--fn-bg-opacity: .05"></span>
                      <div class="card-body position-relative z-2">
                        <div class="d-inline-flex position-relative text-info p-3">
                          <span class="position-absolute top-0 start-0 w-100 h-100 bg-white rounded-pill d-none-dark"></span>
                          <span class="position-absolute top-0 start-0 w-100 h-100 bg-body-secondary rounded-pill d-none d-block-dark"></span>
                          <i class="fi-gift position-relative z-2 fs-4 m-1"></i>
                        </div>
                        <h3 class="h6 pt-2 my-2">정비 받은 샵 정보 저장</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100 bg-transparent border-0">
                      <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border border-white border-opacity-75 rounded-4 d-none-dark" style="--fn-bg-opacity: .3"></span>
                      <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border rounded-4 d-none d-block-dark" style="--fn-bg-opacity: .05"></span>
                      <div class="card-body position-relative z-2">
                        <div class="d-inline-flex position-relative text-info p-3">
                          <span class="position-absolute top-0 start-0 w-100 h-100 bg-white rounded-pill d-none-dark"></span>
                          <span class="position-absolute top-0 start-0 w-100 h-100 bg-body-secondary rounded-pill d-none d-block-dark"></span>
                          <i class="fi-percent position-relative z-2 fs-4 m-1"></i>
                        </div>
                        <h3 class="h6 pt-2 my-2">합리적인 정비 비용지출</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100 bg-transparent border-0">
                      <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border border-white border-opacity-75 rounded-4 d-none-dark" style="--fn-bg-opacity: .3"></span>
                      <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border rounded-4 d-none d-block-dark" style="--fn-bg-opacity: .05"></span>
                      <div class="card-body position-relative z-2">
                        <div class="d-inline-flex position-relative text-info p-3">
                          <span class="position-absolute top-0 start-0 w-100 h-100 bg-white rounded-pill d-none-dark"></span>
                          <span class="position-absolute top-0 start-0 w-100 h-100 bg-body-secondary rounded-pill d-none d-block-dark"></span>
                          <i class="fi-heart position-relative z-2 fs-4 m-1"></i>
                        </div>
                        <h3 class="h6 pt-2 my-2">정기점검 예약 관리</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card h-100 bg-transparent border-0">
                      <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border border-white border-opacity-75 rounded-4 d-none-dark" style="--fn-bg-opacity: .3"></span>
                      <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border rounded-4 d-none d-block-dark" style="--fn-bg-opacity: .05"></span>
                      <div class="card-body position-relative z-2">
                        <div class="d-inline-flex position-relative text-info p-3">
                          <span class="position-absolute top-0 start-0 w-100 h-100 bg-white rounded-pill d-none-dark"></span>
                          <span class="position-absolute top-0 start-0 w-100 h-100 bg-body-secondary rounded-pill d-none d-block-dark"></span>
                          <i class="fi-pie-chart position-relative z-2 fs-4 m-1"></i>
                        </div>
                        <h3 class="h6 pt-2 my-2">편리하고 지속가능한 라이딩환경 구축</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="modal fade" id="modalAlert" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header" style="background-color: lightcoral;">
					<h5 class="modal-title" id="modalAlertTitle">title</h5>
					<button type="button" id="xclose" name="xclose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body" id="modalAlertBody">
					body
				</div>
				<div class="modal-footer" style="padding: 2%;">
					<button type="button" id="cclose" name="cclose" class="btn btn-outline-secondary" data-bs-dismiss="modal">닫힘</button>
				</div>
			</div>
		</div>
	</div>
	<script src="/xdm/template/NiceAdmin/assets/jquery/jquery-3.7.1.min.js"></script>
	
<script type="text/javascript">
var form = document.getElementById("form")

$("#userId").on("blur", function(){
	$("#userId").removeClass("is-valid");
	if($("#userId").val() == null || $("#userId").val() =="") {
		document.getElementById("userIdInvalid").innerText = "사용할 아이디를 입력해주세요.";
		$("#userId").addClass("is-invalid");
 		$("#userId").focus();
 		return false;
	} else {
// 		$("#userId").removeClass("is-invalid");
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			,url: "/member/idChkUsrProc"
			,data : { "userId" : $("#userId").val()}
			,success: function(response) {
				if(response.rt == "success") {
					document.getElementById("userIdInvalid").innerText = "중복된 아이디입니다.";
			 		$("#userId").addClass("is-invalid");
			 		$("#userId").focus();
			 		return false;
				} else {
					$("#userId").removeClass("is-invalid");
					$("#userId").addClass("is-valid");					
			 		//by pass
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
	}
});


$("#userEmail").on("blur", function(){
	$("#userEmail").removeClass("is-valid");
	if($("#userEmail").val() == null || $("#userEmail").val() =="") {
		document.getElementById("userEmailInvalid").innerText = "사용할 이메일 주소를 입력해주세요.";
		$("#userEmail").addClass("is-invalid");
 		$("#userEmail").focus();
		return false;
	} else {
		let regExp = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/
// 		$("#userEmail").removeClass("is-invalid");
		if(!regExp.test($("#userEmail").val())) {
			document.getElementById("userEmailInvalid").innerText = "유효한 이메일 주소를 입력해주세요.";
			$("#userEmail").addClass("is-invalid");
			$("#userEmail").focus();
			return false;
		} else {
			$.ajax({
				async: true 
				,cache: false
				,type: "post"
				,url: "/member/emailChkUsrProc"
				,data : { "userEmail" : $("#userEmail").val()}
				,success: function(response) {
					if(response.rt == "success") {
						document.getElementById("userEmailInvalid").innerText = "중복된 이메일입니다.";
				 		$("#userEmail").addClass("is-invalid");
				 		$("#userEmail").focus();
				 		return false;
					} else {
						$("#userEmail").removeClass("is-invalid");
						$("#userEmail").addClass("is-valid");
				 		//by pass
					}
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
		}
	}
});

$("#userPassword").on("keyup", function(){
	$("#userPassword").removeClass("is-valid");
	let regExp = /^[A-Za-zㄱ-ㅎ가-힣0-9@$!%*?&#.~_-]{4,}$/;
	if(!regExp.test($("#userPassword").val())) {
		$("#userPassword").addClass("is-invalid");
		return false;
	} else {
		$("#userPassword").removeClass("is-invalid");		
		$("#userPassword").addClass("is-valid");
	}
});

$("#userName").on("keyup", function(){
	$("#userName").removeClass("is-valid");
	if($("#userName").val() == null || $("#userName").val() =="") {
		$("#userName").addClass("is-invalid");
		return false;
	} else {
		$("#userName").removeClass("is-invalid");		
		$("#userName").addClass("is-valid");
	}
});

$("#userTel").on("keyup", function(){
	$("#userTel").removeClass("is-valid");
	let regExp = /^\d{3} - \d{3,4} - \d{4}$/;
	if(!regExp.test($("#userTel").val())) {
		$("#userTel").addClass("is-invalid");
		return false;
	} else {
		$("#userTel").removeClass("is-invalid");		
		$("#userTel").addClass("is-valid");
	}
});
function chkIdDuplicate() {
	let result = false;
	$.ajax({
		async: false 
		,cache: false
		,type: "post"
		,url: "/member/idChkUsrProc"
		,data : { "userId" : $("#userId").val()}
		,success: function(response) {
			if(response.rt == "success") {
				document.getElementById("userIdInvalid").innerText = "중복된 아이디입니다.";
		 		$("#userId").addClass("is-invalid");
		 		$("#userId").focus();
			} else {
				result = true;
			}
		}
		,error : function(jqXHR, textStatus, errorThrown){
			alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);			
		}
	});
	return result;
}

function chkEmailDuplicate() {
	let result = false;
	$.ajax({
		async: false 
		,cache: false
		,type: "post"
		,url: "/member/emailChkUsrProc"
		,data : { "userEmail" : $("#userEmail").val()}
		,success: function(response) {
			if(response.rt == "success") {
			} else {
		 		result = true;
				
			}
		}
		,error : function(jqXHR, textStatus, errorThrown){
			alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
		}
	});
	return result;
}

function validation() {
	if($("#userId").val() == null || $("#userId").val() =="") {
		$("#userId").focus();
 		return false;
	} 
	
	const isIdDuplicate = chkIdDuplicate();
    if (!isIdDuplicate) {
    	document.getElementById("modalAlertTitle").innerText = "중복된 아이디입니다.";
 		document.getElementById("modalAlertBody").innerText = "다른 아이디를 사용해주세요!";
 		$("#modalAlert").modal("show");
 		$("#userId").addClass("is-invalid");
 		$("#cclose").on("click", function(){$("#userId").focus()});
 		$("#xclose").on("click", function(){$("#userId").focus()});
        return false;
    }
	
	if($("#userEmail").val() == null || $("#userEmail").val() =="") {
		$("#userEmail").focus();
		return false;
	} 
	let regExp = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/
	if(!regExp.test($("#userEmail").val())) {
		$("#userEmail").focus();
		return false;
	} 
	
	const isEmailDuplicate = chkEmailDuplicate();
    if (!isEmailDuplicate) {
    	document.getElementById("modalAlertTitle").innerText = "중복된 이메일입니다.";
 		document.getElementById("modalAlertBody").innerText = "다른 이메일 주소를 사용해주세요!";
 		$("#modalAlert").modal("show");
 		$("#userEmail").addClass("is-invalid");
 		$("#cclose").on("click", function(){$("#userEmail").focus()});
 		$("#xclose").on("click", function(){$("#userEmail").focus()});
        return false;
    }
    
    if($("#userName").val() == null || $("#userName").val() =="") {
		$("#userName").focus();
		return false;
	} 
    
	return true;
};

$("#btnSignUp").on("click", function(){
	if(validation() == false) return false;
	
	document.getElementById("form").action = "/member/memberUsrInst";
	document.getElementById("form").submit();
});
</script>
	<script src="/usr/template/Finder/assets/vendor/cleave.js/dist/cleave.min.js"></script>
    <script src="/usr/template/Finder/assets/vendor/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="/usr/template/Finder/assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
    <!-- Bootstrap + Theme scripts -->
    <script src="/usr/template/Finder/assets/js/theme.min.js"></script>
    <script src="https://accounts.google.com/gsi/client" async></script>
  </body>
</html>
